html{
    overflow-x: hidden;
}

.header{
    font-family: 'MuseoModerno', cursive;
}
.section{
    margin-top: 4em;
    margin-bottom: 4em;
}
.section-one{
    text-align: left;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: #ebebeb;
}
.section-one p, h3{
    text-align: left;    
}


.navbar-brand img {width: 140px;}

.navbar-nav li{
    padding-right: 60px;
}
.navbar-nav a:hover {
background: #636269;
border-radius: 1rem;
transition: 1s;
transform: translateY(3px);
}

}
.nav-item {
    font-size: 1.4em !important;  
}
.display-4{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1em;
}
.lead{
font-weight: 1000; 
margin-bottom: 3em;
font-family: 'Quicksand', sans-serif;
}

@media (max-width: 768px){
    .display-4{
    font-size: 1.7em;
    
    }
    .lead{
        font-size: 0.9em;
        text-align: fixed;
    }

}


