
.navbar-brand {
  margin-left: 5em;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}
.nav-link {
  font-size: 1.1em;
  margin-left: 3em;
  font-family: 'Podkova', serif;
}
.first h1{
  font-size: 4em;
  margin-top: 2em;
  letter-spacing: 5px;
  font-family: 'Oswald', sans-serif; 
}
.first p{
  margin-top: 1em;
  font-size: 1.4em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 5em;
  font-family: 'Josefin Sans', sans-serif;
}
.service{
  margin-top: 10em;
  background-color: #e8e8e8;
  padding-bottom: 10em;
}

@media (max-width: 575.98px) { 
.navbar-brand {
  margin-left: 0em;
}
.nav-link {
  margin-left: 0em;
}
}

@media (max-width: 767.98px) {
.navbar-brand {
  margin-left: 0em;
}
.nav-link {
  margin-left: 0em;
}
.first h1{
  font-size: 2em;
  margin-top: 3em;
  letter-spacing: 3px;
  font-family: 'Oswald', sans-serif; 
}
.first p{
  font-size: 0.9em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 3em;
  font-family: 'Josefin Sans', sans-serif;
}
}

@media (max-width: 991.98px) {
.navbar-brand {
  margin-left: 0em;
}
.nav-link {
  margin-left: 0em;
}
}


@media (max-width: 1199.98px) {
.navbar-brand {
  margin-left: 0em;
}
.nav-link {
  margin-left: 0em;
}
}


