

.header{
    font-family: 'MuseoModerno', cursive;
}

.navbar-brand img {width: 140px;}

.navbar-nav li{
    padding-right: 50px;
}
.navbar-nav a:hover {
background: #fcba03;
border-radius: 1rem;
transition: 1s;
transform: translateY(-3px);
}
.nav-link {
    font-size: 1.3em !important;  
}
