html {
    overflow-x: hidden;
}


/*Меню навигации*/

.navbar-brand {
    margin-left: 5em;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

.nav-link {
    font-size: 1.1em;
    margin-left: 3em;
    font-family: 'Podkova', serif;
}


/*Главный титул и текст*/

.first h1 {
    font-size: 4em;
    margin-top: 2.5em;
    font-family: 'Oswald', sans-serif;
}

.first p {
    margin-top: 1.5em;
    font-size: 1.4em;
    margin-left: 3em;
    margin-right: 3em;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30vmin;
}


/*Удобства*/

.service {
    background-color: #e8e8e8;
    padding-bottom: 20vmin;
    padding-top: 20vmin;
}

.service-title {
    padding-top: 1.5em;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.service-info {
    margin-top: 3em;
    text-align: center;
}

.service-info h3 {
    margin-top: 0.5em;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.service-info p {
    text-align: center;
    font-weight: 650;
    font-size: 0.78em;
    font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 575.98px) {
    /*Меню навигации*/
    .navbar-brand {
        margin-left: 0em;
        font-size: 1.5em;
    }
    .nav-link {
        font-size: 1em;
        margin-left: 0em;
    }
    /*Главный титул и текст*/
    .first h1 {
        font-size: 2em;
        margin-top: 2em;
    }
    .first p {
        margin-bottom: 60vmin;
        margin-top: 2em;
        font-size: 0.9em;
        margin-left: 3em;
        margin-right: 3em;
    }
}

/* Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
    ...
}

// Средние девайсы («таблетки», < 992px) 
@media (max-width: 991.98px) {
    ...
}

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {
    ...
}